/* 팀 정보 컴포넌트 전체를 감싸는 Container css */
#teaminfoAllContainer {
    
}
/* 팀 정보 컴포넌트 전체를 감싸는 Container css */


/* 팀 정보 영역을 감싸는 Container css */
#teaminfoContainer {
    width: 1500px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 20px;
    display: inline-block;
    margin: 100px 0 50px 400px;
    padding: 20px;

    background-color: #f8f8fa;
    overflow: auto;
}

#teaminfoContainer > span {
    color: gray;
    font-size: 15px;
    display: inline-block;
    margin-right: 20px;
}
/* 팀 정보 영역을 감싸는 Container css */


/* 팀 멤버 영역을 감싸는 Container css */
#teamMemberContainer {
    width: 1500px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 20px;
    display: inline-block;
    margin: 0 0 50px 400px;
    padding: 20px;

    background-color: #f8f8fa;
}
/* 팀 멤버 영역을 감싸는 Container css */


/* 팀 코멘트 영역을 감싸는 Container css */
#teamCommentContainer > svg {
    font-size: 25px;
    float: right;
    margin-top: 150px;
}

#teamCommentContainer > svg:hover {
    cursor: pointer;
}
/* 팀 코멘트 영역을 감싸는 Container css */


/* 멤버 Card Container css */
.cardContainer .userInfoText {
    display: inline-block;
    font-size: 13px;
    color: gray;
    margin: 10px 0;
    word-break: keep-all;
    
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 멤버 Card Container css */


/* 리더인 멤버의 카드 닉네임 텍스트 컬러를 바꾸는 css */
.leaderMemberColor {
    color: blue;
}
/* 리더인 멤버의 카드 닉네임 텍스트 컬러를 바꾸는 css */