/* 팀 정보 컴포넌트 전체를 감싸는 Container css */
#teaminfoAllContainer {
    
}
/* 팀 정보 컴포넌트 전체를 감싸는 Container css */


/* 팀 정보 영역을 감싸는 Container css */
#teaminfoContainer {
    width: 1500px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 20px;
    display: inline-block;
    margin: 50px 0 50px 400px;
    padding: 20px;
}

#teaminfoContainer > span {
    color: gray;
    font-size: 15px;
    display: inline-block;
    margin-right: 20px;
}
/* 팀 정보 영역을 감싸는 Container css */


/* 팀 코멘트 영역을 감싸는 Container css */
#teamCommentContainer > svg {
    font-size: 25px;
    float: right;
    margin-top: 150px;
}

#teamCommentContainer > svg:hover {
    cursor: pointer;
}
/* 팀 코멘트 영역을 감싸는 Container css */