/* Apply 영역의 제목 css */
.mypageTeamContentsContainer > h3 {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
}
/* Apply 영역의 제목 css */


/* Applied 메시지 컨테이너 css */
#appliedMessageContainer {
    height: 70%;
    width: 95%;
    background-color: #f8f8fa;
    margin: 20px auto 0;
    border-radius: 10px;

    overflow: auto;
    white-space: nowrap;
}
/* Applied 메시지 컨테이너 css */


/* 신청 기록이 없을 때 표시할 메시지에 대한 css */
.noneAppliedIcon {
    font-size: 30px;
    color: gray;
    text-align: center;
    padding-top: 150px;
}
/* 신청 기록이 없을 때 표시할 메시지에 대한 css */


/* 팀 신청을 넣은 유저에 대한 정보를 담을 Card Container css */
.cardContainer {
    display: inline-block;
    height: 100%;
    text-align: center;

    white-space: normal;
}

.cardContainer img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.cardContainer > .card {
    height: 80%;
    width: 200px;
    margin: 40px 40px 0;
}

.cardContainer button {
    font-size: 13px;
    background-color: inherit;
    border-radius: 10px;
    padding: 5px 15px;
}

.cardContainer p {
    margin: 10px 0 10px;
    font-size: 15px;
}
/* 팀 신청을 넣은 유저에 대한 정보를 담을 Card Container css */


/* 팀 신청 유저에 대한 승인/거절 버튼 css */
.outlintPrimary {
    border: 1px solid blue;
    color: blue;
    margin-right: 10px;
}

.outlintPrimary:hover {
    background-color: blue;
    color: white;
    transition-duration: 0.2s;
}

.outlintDanger {
    border: 1px solid red;
    color: red;
}

.outlintDanger:hover {
    background-color: red;
    color: white;
    transition-duration: 0.2s;
}
/* 팀 신청 유저에 대한 승인/거절 버튼 css */


/* 유저 Email Text css */
.userEmail {
    font-size: 13px;
    color: gray;
    display: inline-block;
}
/* 유저 Email Text css */


/* 유저 Applied Team css */
.userAppliedStudy {
    font-size: 13px;
    display: inline-block;
    margin: 10px 0;
}
/* 유저 Applied Team css */